### Введение в типы данных и циклы

In [2]:
"""

1. Простые типы данных
2. Списки
3. Кортежи
4. Множества 
5. Словари
6. Цикл while
7. Цикл for

"""

'\n\n1. Простые типы данных\n2. Списки\n3. Кортежи\n4. Множества \n5. Словари\n6. Цикл while\n7. Цикл for\n\n'

In [3]:
"""
1. Простые типы данных
    1. integer (int) целые
    2. float (float) числа с плавающей точкой
    3. string (str) строки
    4. boolean (bool) логический тип
    
# тип объекта можно узнать при помощи функции type()
# можно принудительно изменить тип данных вот так:
int() float() str() bool()



"""

'\n1. Простые типы данных\n    1. integer (int) целые\n    2. float (float) числа с плавающей точкой\n    3. string (str) строки\n    4. boolean (bool) логический тип\n    \n# тип объекта можно узнать при помощи функции type()\n# можно принудительно изменить тип данных вот так:\nint() float() str() bool()\n\n\n\n'

In [4]:
integer = 10
type(integer)

int

In [5]:
floating = 10.0
type(floating)

float

In [6]:
logical = True
type(logical)

bool

In [9]:
string = 'some words'
string_string = "more words"
print(type(string))
print(type(string_string))

<class 'str'>
<class 'str'>

In [16]:
salary = 1000
x = ('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')
print(x)
# преобразование int в str
# конкатенация строк

Ваша годовая зарплата составляет 1000 условных единиц

In [17]:
int('10000') + 100

10100

In [18]:
print (1 + True)

2

In [19]:
"""
Операции со строками
1. конкатенация
2. умножение строки на число позволит повторить её n раз
3. .upper() приводит строку к верхнему регистру
4. .lower() приводит строку к нижнему регистру
5. .capitalize() приводит первую букву к верхнему регистру
6. .replace('что заменить', 'на что заменить') - меняет в строке каждый указанный элемент на другой
9. len(mystring) считает количество символов в строке



"""

"\nОперации со строками\n1. конкатенация\n2. умножение строки на число позволит повторить её n раз\n3. .upper() приводит строку к верхнему регистру\n4. .lower() приводит строку к нижнему регистру\n5. .capitalize() приводит первую букву к верхнему регистру\n6. .replace('что заменить', 'на что заменить') - меняет в строке каждый указанный элемент на другой\n9. len(mystring) считает количество символов в строке\n\n\n\n"

In [36]:
x = 'сегодня хороший день для прогулки в парке'
n = x.replace('хороший', 'такой себе')
print(n)
print(x)
#replace не меняет исходный элемент, но позволяет представить его иначе

сегодня такой себе день для прогулки в парке
сегодня хороший день для прогулки в парке

In [27]:
1 + 2

3

In [28]:
'1' + '2'

'12'

In [34]:
mystring = 'ХОЧУ кушаць'
mystring.upper()

'ХОЧУ КУШАЦЬ'

In [35]:
mystring.lower()

'хочу кушаць'

In [42]:
# так выглядят индексы

my_string = 'ИНДЕКС'

print(my_string[0])
print(my_string[-6])
# можно считать с начала любого индекса, с номера 0
# можно считать с конца с номера -1
# крайнее значение в индексе не считается, это была бы буква 'К'.


my_string[0:4:2]

И
И

'ИД'

In [43]:
"""
Операторы вхождения:
in - возвращает True, если элемент включён в объект
not in - True, если элемент не присутствует в объекте

"""

'\nОператоры вхождения:\nin - возвращает True, если элемент включён в объект\nnot in - True, если элемент не присутствует в объекте\n\n'

In [72]:
# f-строки - позволяют встраивать в строку выражение при помощи {}
name = 'oleg'
lang = 'python'


t = f"Хеллоу, {name}, я вижу, ты тоже человек культуры и немного знаешь {lang}, не так ли?"

print(t)

Хеллоу, oleg, я вижу, ты тоже человек культуры и немного знаешь python, не так ли?

In [73]:
print('Hello {}, как ты живёшь-поживаешь, знаешь ли ты {}?'.format(name, lang))

Hello oleg, как ты живёшь-поживаешь, знаешь ли ты python?

In [75]:
print(f'Hello {name}, как ты живёшь-поживаешь, знаешь ли ты {lang}?')
# при помощи f можно сделать наглядным код, но он только в 3 питоне появился

Hello oleg, как ты живёшь-поживаешь, знаешь ли ты python?

In [51]:
new_str = 'Hello_World'
new_str[2]

'l'

In [52]:
new_str[-4]

'o'

In [53]:
new_str[0:5]

'Hello'

In [55]:
new_str[6:]
# все, что после 6

'World'

In [59]:
new_str[:4]
# все, что до 5

'Hell'

In [62]:
# проверка на вхождение элемента в объкта

white_str = 'Hello_Godblessed_World'
target = 'o_G'

if target in white_str:
    #in возвращает труе
    print('o_O')

o_O

In [78]:
"""
списки - набор каких-то элементов
элементы упорядочены

"""

x = [1, 2, 3, 5, 4]

print(x)

[1, 2, 3, 5, 4]

In [93]:
u = ['jan', 'feb', 'mar']

j = [['jan', 1000], ['feb', 800], ['mar', 900]]

print(j)

[['jan', 1000], ['feb', 800], ['mar', 900]]

In [80]:
type(j)

list

In [94]:
# индексация элементов в списке
print(u[1])
print(j[-2])
print(j[1][0])

feb
['feb', 800]
feb

In [104]:
# срезы
print(j[0:2])
print(j[1:])
print(j[:18])
#по списку срез итерирует один раз, в данном случае достаёт номера 15-17 (они же 0-2), они же 1-3 в привычном счете с единицы

[['jan', 1000], ['feb', 800]]
[['feb', 800], ['mar', 900]]
[['jan', 1000], ['feb', 800], ['mar', 900]]

In [111]:
print(j[-445:-1])
#начинает с самого глубокого элемента, и идёт до предшествующего -1 (-1 - это март), берёт февраль и всё, конец
#при этом расставляет их в том же порядке, в котором они есть в списке

[['jan', 1000], ['feb', 800]]

In [121]:
j[0][0] = 'sep'
print(j)

[['sep', 1000], ['feb', 800], ['mar', 900]]

In [129]:
j[0:2] = ['aug', 999], ['nov', 990]
# можно менять несколько элементов списка

In [127]:
j[0:2]

[['aug', 999], ['nov', 990]]

In [128]:
print(j)

[['aug', 999], ['nov', 990], ['mar', 900]]

In [130]:
auf, gain = 1, 3
print(auf, gain)

1 3

In [143]:
a=3

a+=1 # a будет 4

a-=1 # a будет опять 3

a+=7 # a будет 10

a

10

In [139]:
x = 0
y = 0

data = [[15], [14], [13], [11],
    [46], [97], [12], [90],
    [77], [44], [51], [71],
    [63], [42], [88], [93]]

y += 1 



print(y)

1

In [141]:
mystring = "Hello"

mystring += " world." # будет "Hello word."
print(mystring)

Hello world.

In [145]:
s = "abcdefghijklmnop"

while s != "":

  print(s)

  s = s[1:-1]
    
    #while - пока в строке не будет 0 символов, печатай s отнимая по одной букве слева и справа

abcdefghijklmnop
bcdefghijklmno
cdefghijklmn
defghijklm
efghijkl
fghijk
ghij
hi

In [156]:
def cena(rub, kop=0):
    return "%i руб. %i коп." % (rub, kop)



c = cena(8, 50)

print(c)

8 руб. 50 коп.

### Списки

In [4]:
data = [1234, 29457, 1471947914791, 1311]

In [5]:
del(data[2]);
print(data)
# удалить объект по номеру иначе

[1234, 29457, 1311]

In [7]:
data.remove(data[0]);
print(data)
# удалить объект по номеру

[29457, 1311]

In [12]:
data.append(131456);
print(data)
# добавить объект в конец списка

[29457, 1311, 131456, 131456, 131456, 131456]

In [39]:
data.remove(131456)
print(data)
# удалить конкретный объект

[29457, 1311, 131456, 131456]

In [13]:
data.count(131456)

4

In [41]:
data.insert(2, 11111111111111)
print(data)
# при этом меняются индексы всех, кто после нового

[29457, 1311, 11111111111111, 11111111111111, 131456, 131456]

In [16]:
data.index(1311)
# номер по счету, только первое вхождение

1

In [45]:
print(data)
data.index(11111111111111, 1)
# если не первое вхождение в список

[29457, 1311, 11111111111111, 11111111111111, 131456, 131456]

2

In [42]:
data.count(131456)
# считать повторения

2

In [46]:
sum(data)

22222222515902

In [19]:
data.reverse()
print(data)
# вообще списки изменяемы

[29457, 1311, 131456, 131456, 131456, 131456]

In [47]:
max(data)

11111111111111

In [21]:
sorted(data)
print(sorted(data))
# но сортед не меняет сам список

[1311, 29457, 131456, 131456, 131456, 131456]

In [49]:
sorted(data, reverse = True)

[11111111111111, 11111111111111, 131456, 131456, 29457, 1311]

In [48]:
min(data)

1311

In [23]:
first, second, third = ['первый', 'второй', 'третий']
first

'первый'

In [26]:
data3 = ['первый', 'второй', 'третий']
data3[0] = second
second

'второй'

In [27]:
first, *anotherall = ['первый', 'второй', 'третий']
print(first)
print(anotherall)

первый
['второй', 'третий']

In [29]:
type(first)

str

In [30]:
type(anotherall)

list

In [34]:
first, *another, last = ['первый', 'второй', 'третий', 'четвертый', 'пятый', 'шестой'];

print(first)
print(another)
print(last)

первый
['второй', 'третий', 'четвертый', 'пятый']
шестой

In [35]:
data

[29457, 1311, 131456, 131456, 131456, 131456]

### Изменение списков

In [51]:
a_n = [1, 2, 3]
b_n = a_n

# в дествительности новый объект не создаётся, это два указателя на один и тот же список
id(a_n), id(b_n)

(1895364764864, 1895364764864)

In [52]:
import copy

In [55]:
a__ = [1, 2, 3, 4, 5, 6]
b__ = copy.copy(a__)
# библиотека копи . метод копи

b__.append(7)

print(a__)
print(b__)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

### Кортежи

In [66]:
# это не кортежи ещё

queries = 'яблоки, груши, белый виноград, помидоры, абрикосы, черешя, манго'
queries_list = queries.split(', ')
queries_list[2].split(', ')
#разбить строку на отдельные строки, с ними можно взаимодействовать отдельно

['белый виноград']

In [65]:
len(queries_list[2].split(' '))
# длина поискового запроса в словах

2

In [72]:
# Преобразование списка в строку

print('\t'.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))
# \t = табуляция

print(', '.join(['Столбец 1', 'Столбец 2', 'Столбец 3']))

Столбец 1	Столбец 2	Столбец 3
Столбец 1, Столбец 2, Столбец 3

In [73]:
# теперь кортежи!!!

# tuples = неизменяемые списки, удалять или добавлять элементы в кортеж нельзя

# кортежи инициализируются при помощи ()

# кортежи занимают в памяти меньше места

# функция zip - делает из других списков не список списков, а список кортежей

In [74]:
salary_tuple = (1000, 1200, 400, 600, 1800)
type(salary_tuple)

tuple

In [76]:
print(list(salary_tuple))

[1000, 1200, 400, 600, 1800]

In [77]:
salary_tuple[0] = 500
# нельзя

TypeError: 'tuple' object does not support item assignment

In [78]:
# кортеж из одного элемента
t = ('one', )
type(t)
# без запятой получится строка

tuple

In [80]:
# функция зип склеивает 2 и более элемента

salaries = [100, 2000, 900, 456, 18]
names = ['Liza', 'Martin', 'Bob', 'Claus', 'Timoty']
salaries_by_names = zip(names, salaries)
print(salaries_by_names) # зип - это генератор

<zip object at 0x000001B94C8CA500>

In [81]:
list(salaries_by_names)

[('Liza', 100), ('Martin', 2000), ('Bob', 900), ('Claus', 456), ('Timoty', 18)]

### Циклы while и for

In [ ]:
# Циклы позволяют выполнять повторяемые действия

# while - до того, как (если количество шагов неизвестно)

# for - записывает в переменную значений конечное количество раз

# операторы: break, coninue, pass,

In [87]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- Четное число')
    else:
        print(x, '- Нечетное число')
    x = x - 1
    break

7 - Нечетное число

In [85]:
x = 5
while x != 0:
    x = x - 1
    print(x)
    break

4

In [90]:
string_123 = 'Orange'
for letter in string_123:
    letter = letter.capitalize()
    print(letter)

O
R
A
N
G
E

In [91]:
# итерация по спискам
companies = [
    ['one', 1.3],
    ['two', 2.8],
    ['three', 0.6]
]

In [105]:
for company in companies:
    print(company[0], 'capitalization is', company[1]);
print(company)
#for заливает в company каждый раз новое значение, пока список не кончится, и каждый раз его выдаёт

one capitalization is 1.3
two capitalization is 2.8
three capitalization is 0.6
['three', 0.6]

### break, pass, continue

In [1]:
phrase = '640 КБ памяти с избытком хватит любому компьютеру'

In [5]:
for letter in phrase:
    if letter == ' ':
        break # можно прекратить выполнение задачи
    print(letter, end=' ')

6 4 0

In [6]:
for letter in phrase:
    if letter == ' ':
        continue # можно продолжить выполнение задачи
    print(letter)

6
4
0
К
Б
п
а
м
я
т
и
с
и
з
б
ы
т
к
о
м
х
в
а
т
и
т
л
ю
б
о
м
у
к
о
м
п
ь
ю
т
е
р
у

In [7]:
for letter in phrase:
    if letter == ' ':
        pass # нужен, чтобы позволить программе работать дальше без изменений
    print(letter)

6
4
0

К
Б

п
а
м
я
т
и

с

и
з
б
ы
т
к
о
м

х
в
а
т
и
т

л
ю
б
о
м
у

к
о
м
п
ь
ю
т
е
р
у