### Введение в типы данных и циклы

In [2]:
"""

1. Простые типы данных
2. Списки
3. Кортежи
4. Множества 
5. Словари
6. Цикл while
7. Цикл for

"""

'\n\n1. Простые типы данных\n2. Списки\n3. Кортежи\n4. Множества \n5. Словари\n6. Цикл while\n7. Цикл for\n\n'

In [3]:
"""
1. Простые типы данных
    1. integer (int) целые
    2. float (float) числа с плавающей точкой
    3. string (str) строки
    4. boolean (bool) логический тип
    
# тип объекта можно узнать при помощи функции type()
# можно принудительно изменить тип данных вот так:
int() float() str() bool()



"""

'\n1. Простые типы данных\n    1. integer (int) целые\n    2. float (float) числа с плавающей точкой\n    3. string (str) строки\n    4. boolean (bool) логический тип\n    \n# тип объекта можно узнать при помощи функции type()\n# можно принудительно изменить тип данных вот так:\nint() float() str() bool()\n\n\n\n'

In [4]:
integer = 10
type(integer)

int

In [5]:
floating = 10.0
type(floating)

float

In [6]:
logical = True
type(logical)

bool

In [9]:
string = 'some words'
string_string = "more words"
print(type(string))
print(type(string_string))

<class 'str'>
<class 'str'>

In [16]:
salary = 1000
x = ('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')
print(x)
# преобразование int в str
# конкатенация строк

Ваша годовая зарплата составляет 1000 условных единиц

In [17]:
int('10000') + 100

10100

In [18]:
print (1 + True)

2

In [19]:
"""
Операции со строками
1. конкатенация
2. умножение строки на число позволит повторить её n раз
3. .upper() приводит строку к верхнему регистру
4. .lower() приводит строку к нижнему регистру
5. .capitalize() приводит первую букву к верхнему регистру
6. .replace('что заменить', 'на что заменить') - меняет в строке каждый указанный элемент на другой
9. len(mystring) считает количество символов в строке



"""

"\nОперации со строками\n1. конкатенация\n2. умножение строки на число позволит повторить её n раз\n3. .upper() приводит строку к верхнему регистру\n4. .lower() приводит строку к нижнему регистру\n5. .capitalize() приводит первую букву к верхнему регистру\n6. .replace('что заменить', 'на что заменить') - меняет в строке каждый указанный элемент на другой\n9. len(mystring) считает количество символов в строке\n\n\n\n"

In [36]:
x = 'сегодня хороший день для прогулки в парке'
n = x.replace('хороший', 'такой себе')
print(n)
print(x)
#replace не меняет исходный элемент, но позволяет представить его иначе

сегодня такой себе день для прогулки в парке
сегодня хороший день для прогулки в парке

In [27]:
1 + 2

3

In [28]:
'1' + '2'

'12'

In [34]:
mystring = 'ХОЧУ кушаць'
mystring.upper()

'ХОЧУ КУШАЦЬ'

In [35]:
mystring.lower()

'хочу кушаць'